@media (max-width: 640px) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
  }

  /* For WebKit browsers (Chrome, Safari) */

  
html::-webkit-scrollbar {
  display: none;
}

 
html {
  scrollbar-width: none;
}

html {
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
 
.hide-scrollbar {
  scrollbar-width: none;
}

/* For Internet Explorer and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}
